$font-family-1: 'Open Sans', sans-serif;
$font-family-2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-family-3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family-4: 'Cinzel Decorative', serif;
$gray:rgb(71, 71, 71);
$white:white;
$purple:rgb(173, 0, 144);
$light-gray:rgb(243, 244, 245);